.gameOfLife {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../assets/images/mario-snes-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .titleFrame {
    display: flex;
    margin-bottom: 1rem;

    .title {
      color: #8fcd14;
      font-size: 1.5rem;
    }

    .icons {
      display: flex;
      justify-content: center;

      .link {
        background-color: #e59400;
        border-radius: 100%;
        text-decoration: none;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
      }
    }
  }

  .board {
    margin-bottom: 1rem;
    background-color: white;
    width: 100%;

    @media (min-width: 960px) {
      width: initial;
    }
  }

  .generations {
    margin-bottom: 2rem;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .button {
      min-width: 8rem;
      margin: 1rem 1rem;
    }
  }
}
